<ion-header>
  <ion-toolbar>
    <ion-card>
      <ion-icon name="arrow-back-outline" class="ion_blanco icon_rigth"></ion-icon>
      <ion-title>Oftalmologia </ion-title>
      <ion-icon name="share-social-sharp" class="ion_blanco icon_compartir"></ion-icon>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-md="7">
      <ion-card class="card_clinica">
        <div class="div_flex">
          <div class="div_flex1">
            <h5>Clinica D ojos - Cusco</h5>
            <p><img src="assets/img/placeholder.png"> San Isidro, Lima</p>
            <div class="div_estrllas">
              <img src="assets/img/star.png" class="img_estrellas">
              <img src="assets/img/star.png" class="img_estrellas">
              <img src="assets/img/star.png" class="img_estrellas">
              <img src="assets/img/star.png" class="img_estrellas">
              <img src="assets/img/star1.png">
            </div>
          </div>
          <div class="div_flex2">
            <img src="assets/img/Grupo1829.png">
            <ion-icon name="heart" class="icon_corazon"></ion-icon>
          </div>
        </div>
        <div class="div_img_flex">
          <ion-avatar>
            <img src="assets/img/Grupo1906.png">
          </ion-avatar>
          <ion-avatar class="ion_avatar_left">
            <img src="assets/img/Grupo1906.png">
          </ion-avatar>
          <ion-avatar class="ion_avatar_left">
            <img src="assets/img/Grupo1906.png">
          </ion-avatar>
          <ion-avatar class="ion_avatar_left avatar_before">
            <img src="assets/img/Grupo1906.png">
          </ion-avatar>
        </div>
        <div class="div_top_bottom">
          <p class="p_atendido">Atendiendo</p>
          <p class="p_hora">9:30AM - 08:00PM</p>
        </div>
        <div class="div_top_bootom_border">
          <p class="p_ubicacion_icon"><ion-icon name="location-outline"></ion-icon> Calle La Paz 1234, San Isidro, Lima</p>
          <img src="assets/img/4590781ec12ff6bdb0f06cef6a96764b.png" class="img_mapa">
        </div>
        <p class="p_atendido">Atendiendo</p>
        <ion-select placeholder="DOCTORES" mode="ios">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
        <ion-item lines="none">
          <ion-label>
            Oftalmología
          </ion-label>
        </ion-item>
        <div class="linea_plomo"></div>
        <ion-item lines="none">
          <ion-label>
            Oftalmología
          </ion-label>
        </ion-item>
        <div class="linea_plomo"></div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

