<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" class="ion-margin-start ion-margin-end"></ion-icon>
     Regresar
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="7" size-sm="6" class="ion-text-center">
        <h1>Profesional de la salud</h1>
        <p class=p1>Accede al registro a través de nuestra pagina web</p>
        <p class="p2">www.acudeapp.com</p>
      </ion-col>
      <ion-col size="11" size-sm="9">
        <ion-card>
          <div class="div_numeros">1</div>
          <p class="pcard">Consigue más pacientes</p>
        </ion-card>
      </ion-col>
      <ion-col size="11" size-sm="9">
        <ion-card>
          <div class="div_numeros">2</div>
          <p class="pcard">Promociona tus servicios</p>
        </ion-card>
      </ion-col>
      <ion-col size="11" size-sm="9">
        <ion-card>
          <div class="div_numeros">3</div>
          <p class="pcard">Posiciona tu imagen profesional</p>
        </ion-card>
      </ion-col>
      <ion-col size="11" size-sm="9">
        <ion-card>
          <div class="div_numeros">4</div>
          <p class="pcard">Apoya a más personas</p>
        </ion-card>
      </ion-col>
      <ion-col size="11" size-sm="9">
        <ion-card>
          <div class="div_numeros">5</div>
          <p class="pcard">De la mano con la tecnologia</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button class="btn_enlace">Ir a la pagina</ion-button>
</ion-content>
