<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" class="ion-margin-start ion-margin-end"></ion-icon>
     Regresar
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="7" size-sm="6" class="ion-text-center">
        <h1>Términos y condiciones</h1>
        <p class=p1>Accede al registro a través de nuestra pagina web</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="div_botones">
    <ion-button class="btn_enlace">Acepto</ion-button>
    <ion-button class="btn_enlace">No acepto</ion-button>
  </div>
</ion-content>
