<ion-content>
  <ion-icon name="close-outline"></ion-icon>
  <ion-avatar>
    <img src="assets/img/Enmascarargrupo9.png">
  </ion-avatar>
  <div class="div_img_flex">
    <ion-avatar>
      <img src="assets/img/Grupo1906.png">
    </ion-avatar>
    <ion-avatar class="ion_avatar_left">
      <img src="assets/img/Grupo1906.png">
    </ion-avatar>
    <ion-avatar class="ion_avatar_left">
      <img src="assets/img/Grupo1906.png">
    </ion-avatar>
    <ion-avatar class="ion_avatar_left avatar_before">
      <img src="assets/img/Grupo1906.png">
    </ion-avatar>
  </div>
</ion-content>
