<ion-header>
  <ion-toolbar>
    <ion-card class="ion-no-margin">
      <img src="assets/img/logoblanco.png">
    </ion-card>
    <p class="ion-text-center"><span>Registrar</span> / <span>Entrar</span></p>
  </ion-toolbar>
</ion-header>
  <div class="div_botones">
    <div class="div_linea_plomo"></div>
    <ion-button class="btn_enlace btn_correo">Correo</ion-button>
    <ion-button class="btn_enlace btn_facebbok">Facebook</ion-button>
    <ion-button class="btn_enlace btn_google">Google</ion-button>
    <div class="div_check">
      <ion-checkbox></ion-checkbox>
      <ion-label>Estoy de acuerdo con los <ins>términos y Condiciones</ins></ion-label>
    </div>
  </div>
<ion-content>

</ion-content>
