<ion-content>
<ion-card>
    <img src="assets/img/img-acude.png">
    <ion-list>
        <ion-item lines="fulls">
          <ion-label>Editar perfil</ion-label>
        </ion-item>
        <ion-item lines="fulls">
          <ion-label>Historial</ion-label>
        </ion-item>
        <ion-item lines="fulls">
          <ion-label>Contactar con Acude</ion-label>
        </ion-item>
        <ion-item lines="fulls">
          <ion-label>Invita tus amigos</ion-label>
        </ion-item>
        <ion-item lines="fulls">
          <ion-label>Feedback</ion-label>
        </ion-item>
        <ion-item lines="fulls">
            <ion-label>MIs favoritos</ion-label>
        </ion-item>
        <ion-item lines="fulls">
            <ion-label>Eres profesional de la salud? Registrase.</ion-label>
        </ion-item>
        <ion-item lines="fulls">
            <ion-label>Cerrar sesión</ion-label>
        </ion-item>
      </ion-list>
</ion-card>
</ion-content>
<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="close-circle" class="icon_close"></ion-icon>
        <ion-label class="label_cuenta">Menu</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>