<ion-header>
  <ion-toolbar>
    <img src="assets/img/logoblanco.png">
    <div class="div_iconos_blancos">
      <ion-icon name="arrow-back-outline"></ion-icon>
      <ion-icon name="share-social-sharp"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="7">
        <div class="div_circulo">
          <img src="assets/img/c88185bc9da4e6f2397185cab7ff2039.png">
        </div>
        <ion-card class="card_iguales">
          <ion-row>
            <ion-col size="4" class="ion-no-padding">
              <div class="div_verde">
                Emergencias 24/7
              </div>
            </ion-col>
            <ion-col size="4" style="display: flex;justify-content: center;">
            </ion-col>
            <ion-col size="4" class="col_flex">
              <p class="ion-no-margin p_iconos"><img src="assets/img/star.png" style="margin-right: 5px;">4.2</p>
              <ion-icon name="videocam-outline" class="icon_camra_cora icon_rigth"></ion-icon>
              <ion-icon name="heart-outline" class="icon_camra_cora"></ion-icon>
            </ion-col>
            <ion-col size="12" class="ion-text-center">
              <p class="titulo_p">Peter Louis Sellers Lindley</p>
              <p class="subtitulo_p">B.Sc, MBBS, DDVL, MD- Oftalmologo</p>
            </ion-col>
            <ion-col size="6" class="ion-no-padding">
              <p class="p_años"><span class="span_number">19</span> años de experiencia</p>
              <p class="p_años"><span class="span_number">97%</span> (432 votos)</p>
            </ion-col>
            <ion-col size="6" class="ion-no-padding ion-text-end">
              <p class="p_años">Español, Ingles, Aleman</p>
              <p class="p_años">Atiendo emergencias 24/7</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="7">
        <ion-card class="card_iguales">
          <p class="p_medium">Trayectoria</p>
          <p class="descripcion_p_regular">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, qui…</p>
          <a class="a_leer_link">Leer mas ></a>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="7">
        <ion-card class="card_iguales">
          <ion-row>
            <ion-col size="4" style="padding-top: 0px;padding-bottom: 0px;display: flex;">
              <p class="p_medium">Contacto</p>
              <div class="linea_rigt"></div>
            </ion-col>
            <ion-col size="8" class="ion-no-padding">
              <ion-list class="ion-no-padding">
                <ion-item lines="none" class="item_list">
                  <ion-icon name="call-outline"></ion-icon>
                  <ion-label class="label_list">987 876 789</ion-label>
                </ion-item>
                <ion-item lines="none" class="item_list">
                  <ion-icon name="person-outline"></ion-icon>
                  <ion-label class="label_list">Doctorpeter@hotmail.com</ion-label>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="7">
        <ion-card class="card_iguales">
          <p class="p_medium">Atiendo en</p>
          <ion-card class="card_acordion">
            <ion-card-header>
              <ion-card-subtitle><img src="assets/img/Grupo1722.png" class="icon_verde">Clinica D ojos <ion-icon name="close-outline" class="icon_close"></ion-icon></ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <div class="div_conuslta_nutton">
                <p>Costo de consulta : <span>S/. 100</span></p>
                <ion-button>Reservar</ion-button>
              </div>
              <div class="div_border_bootom">
                <ion-row>
                  <ion-col size="12" style="padding-bottom: 0px;padding-top: 0px;">
                    <ion-row>
                      <ion-col size="4" style="padding-bottom: 0px;padding-top: 0px;">
                        <p class="p_dias"><strong>Lunes - viernes</strong></p>
                      </ion-col>
                      <ion-col size="4" style="padding-right: 0px;padding-top: 0px;padding-bottom: 0px;">
                        <p class="p_horas">9:30AM - 12:30PM</p>
                      </ion-col>
                      <ion-col size="4" style="padding-right: 0px;padding-top: 0px;padding-bottom: 0px;">
                        <p class="p_horas">15:30AM - 08:00PM</p>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="12" style="padding-bottom: 0px;padding-top: 0px;">
                    <ion-row>
                      <ion-col size="4" style="padding-bottom: 0px;padding-top: 0px;">
                        <p class="p_dias"><strong>Sábado</strong></p>
                      </ion-col>
                      <ion-col size="4" style="padding-right: 0px;padding-top: 0px;padding-bottom: 0px;">
                        <p class="p_horas">9:30AM - 12:30PM</p>
                      </ion-col>
                      <ion-col size="4" style="padding-bottom: 0px;padding-top: 0px;"></ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </div>
              <div class="ion-padding-top div_mapa">
                <p class="p_direccion"><ion-icon name="location-outline"></ion-icon>Calle La Paz 1234, San Isidro, Lima</p>
                <img src="assets/img/4590781ec12ff6bdb0f06cef6a96764b.png">
                <a class="a_leer_link ion-margin-bottom">Ver clinica ></a>
              </div>
            </ion-card-content>
          </ion-card>
          <ion-card class="card_acordion">
            <ion-card-header>
              <ion-card-subtitle><img src="assets/img/Grupo1722.png" class="icon_verde">Consultorio privado <ion-icon name="add-outline" class="icon_close"></ion-icon></ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
            </ion-card-content>
          </ion-card>
          <ion-card class="card_acordion">
            <ion-card-header>
              <ion-card-subtitle><img src="assets/img/Grupo1722.png" class="icon_verde">Hospital EsSalud Edgardo Rebagliati Ma…<ion-icon name="add-outline" class="icon_close"></ion-icon></ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
            </ion-card-content>
          </ion-card>
          <ion-card class="card_acordion">
            <ion-card-header>
              <ion-card-subtitle><img src="assets/img/Grupo1722.png" class="icon_verde">Universidad Peruana Cayetano Heredia<ion-icon name="add-outline" class="icon_close"></ion-icon></ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
            </ion-card-content>
          </ion-card>
          <div class="div_border_top ion-margin-top">
            <p class="p_medium">Comentarios</p>
            <p class="p_subtitulo_regular">Muy buena atención , limpio y ordenado.</p>
            <p class="descripcion_p_regular">Rina Gonzalez . Hace 1 mes</p>
            <p class="a_link_comentarios">TODOS LOS COMENTARIOS</p>
          </div>
          <div class="div_border_top">
            <p class="p_medium">SERVICIOS</p>
            <p class="p_subtitulo_regular">Atiende emergencias 24/7</p>
            <p class="p_subtitulo_regular">Visita a domicilio</p>
            <p class="p_subtitulo_regular">Cataract</p>
            <p class="a_link_comentarios">TODOS LOS SERVICIOS</p>
          </div>
          <div class="div_border_top">
            <p class="p_medium">ESPECIALIDADES</p>
            <p class="p_subtitulo_regular">Dermitologist</p>
            <p class="p_subtitulo_regular">Trichologist</p>
            <p class="p_subtitulo_regular">Cosmetologist</p>
            <!--<a class="a_link_comentarios">TODOS LOS COMENTARIOS</a>-->
          </div>
          <div class="div_border_top">
            <p class="p_medium">Publicaciones</p>
            <p class="p_subtitulo_regular">Articlo sobre algo</p>
            <p class="p_subtitulo_regular">Publicación en revista xyz</p>
            <p class="p_subtitulo_regular">Otra publicación</p>
            <p class="a_link_comentarios">TODOS LAS PUBLICACIONES</p>
          </div>
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>
