<ion-header>
  <ion-toolbar>
    <ion-card class="card_check">
      <p><ion-icon name="close-outline" class="icon_close"></ion-icon>Especialidad</p>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss" mode="ios">
        <ion-select-option value="brown">Lima</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card_buscador">
    <ion-searchbar placeholder="Filter Schedules"></ion-searchbar>
  </ion-card>
  <p class="p_busqueda">Especialidades médicas</p>
  <ion-card class="ion-no-margin card_list">
    <ion-list>
      <ion-item>
        <ion-label>Oftalmología</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Dermatología</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Cardiología</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Gastroenterología</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Psicología</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Laringología</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Ginecología/Obstetricia</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Neuroología</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Ver todos</ion-label>
      </ion-item>
      
    </ion-list>
  </ion-card>
</ion-content>
