@font-face{
    font-family: PoppinsSemiBold;
    src : url('/assets/font/Poppins-SemiBold.otf')
}
@font-face{
    font-family: PoppinsRegular;
    src : url('/assets/font/Poppins-Regular.otf')
}
@font-face{
    font-family: PoppinsMedium;
    src : url('/assets/font/Poppins-Medium.otf')
}
ion-header
{
    height: 0px;
    ion-toolbar
    {
        --background: #23cec3;
        --color: #ffffff;
        --padding-start: 0px;
        --padding-end:0px;
        text-align: center;
        border-radius: 0px 0px 35px 35px;
        height: 120px;
        display: flex;
        align-items: center;
        font-family: MontserratSemiBold;
        position: relative;
        ion-card.card_check
        {
            display: flex;
            justify-content: space-between;
            background-color: transparent;
            box-shadow: none;
            padding: 0px 15px;
            margin-bottom: 40px;
            p
            {
                color: #ffffff;
                font-family: PoppinsSemiBold;
                display: flex;
                align-items: center;
                font-size: 16px;
                ion-icon.icon_close
                {
                    font-size: 30px;
                    margin-right: 5px;
                }
            }
            ion-select
            {
                color: #ffffff;
                font-family: PoppinsSemiBold;
                
            }
        }
    }
}
ion-content
{
    --padding-top: 110px;
    --background: #F5F5F5;
}
ion-card.card_buscador
{
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 3px 0px;
    z-index: 99999;
    margin-top: -25px;
    box-shadow: 0px 12px 24px #0000001A;
    position: relative;
    ion-searchbar
    {
        font-family: PoppinsRegular;
        --color: #C7C7C7;
        --placeholder-color: #C7C7C7;
        padding: 0px;
        width: 100%;
        --box-shadow:none;
        --icon-color: #C7C7C7;
        --background: #ffffff;
    }
}
div.div_tabla
{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 3px 6px #00000029;
    z-index: 999999;
    position: absolute;
}
.p_busqueda
{
    font-family: PoppinsSemiBold;
    color: #313450;
    font-size: 14px;
    z-index: 999999;
    margin-top: 30px;
    margin-left: 30px;
}
.card_list
{
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
    z-index: 99999;
    ion-list
    {
        ion-item
        {
            --padding-start: 0px;
            --inner-padding-end: 0px;
            ion-label
            {
                color: #313450;
                font-family: PoppinsMedium;
                font-size: 14px;
            }
        }
    }
}
@media (min-width: 411px)
{
    ion-content
    {
        --padding-top: 170px;
    }
    ion-card.card_buscador
    {
        margin-top: -80px;
    }
}
@media (min-width: 414px)
{
    ion-content
    {
        --padding-top: 150px;
    }
    ion-card.card_buscador
    {
        margin-top: -60px;
    }
}
@media (min-width: 480px)
{
    ion-content
    {
        --padding-top: 185px;
    }
    ion-card.card_buscador
    {
        margin-top: -100px;
    }
}
@media (min-width: 640px)
{
    ion-content
    {
        --padding-top: 90px;
    }
}
@media (min-width: 768px)
{
    ion-content
    {
        --padding-top: 245px;
    }
    ion-card.card_buscador
    {
        width: 80%;
        margin-left: 10%;
        margin-top: -150px;
        padding: 3px 20px;
    }
    .card_list
    {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 30px;
    }
    .p_busqueda
    {
        margin-left: 50px;
    }
}
@media (min-width: 1024px)
{
}
