<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Ubicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <p>Lugar de residencia actual</p>
      </ion-col>
      <ion-col size="11" size-md="9" size-lg="8">
        <ion-select placeholder="Departamento" mode="ios">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="11" size-md="9" size-lg="8">
        <ion-select placeholder="Provincia" mode="ios">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="11" size-md="9" size-lg="8">
        <ion-select placeholder="Distrito" mode="ios">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button class="btn_enlace">Siguiente</ion-button>
</ion-content>
