<ion-content>
  <ion-icon name="close-outline"></ion-icon>
  <ion-card>
    <h5>Busco un…</h5>
    <ion-select placeholder="Select One" mode="ios">
      <ion-select-option value="f">Female</ion-select-option>
      <ion-select-option value="m">Male</ion-select-option>
    </ion-select>
    <ion-select placeholder="Select One" mode="ios">
      <ion-select-option value="f">Female</ion-select-option>
      <ion-select-option value="m">Male</ion-select-option>
    </ion-select>
    <h5 class="h5_bottom">Deseo filtrar por</h5>
    <ion-card class="card_acordion">
      <ion-card-header>
        <ion-card-subtitle>Especialidad<ion-icon name="chevron-forward-outline" class="icon_rigth"></ion-icon></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="conten_none">
        
      </ion-card-content>
    </ion-card>
    <ion-card class="card_acordion">
      <ion-card-header>
        <ion-card-subtitle>Experiencia<ion-icon name="chevron-forward-outline" class="icon_rigth"></ion-icon></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="conten_none">
        
      </ion-card-content>
    </ion-card>
    <ion-card class="card_acordion">
      <ion-card-header>
        <ion-card-subtitle>Idiomas<ion-icon name="chevron-down-outline" class="icon_rigth"></ion-icon></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="div_flex_check">
          <div class="check_label">
            <ion-checkbox></ion-checkbox>
            <ion-label>Ingles</ion-label>
          </div>
          <div class="check_label">
            <ion-checkbox></ion-checkbox>
            <ion-label>Frances</ion-label>
          </div>
          <div class="check_label">
            <ion-checkbox></ion-checkbox>
            <ion-label>Arabe</ion-label>
          </div>
          <div class="check_label">
            <ion-checkbox></ion-checkbox>
            <ion-label>Quechua</ion-label>
          </div>
          <div class="check_label">
            <ion-checkbox></ion-checkbox>
            <ion-label>Aleman</ion-label>
          </div>
          <div class="check_label">
            <ion-checkbox></ion-checkbox>
            <ion-label>Hebreo</ion-label>
          </div>
          <div class="check_label">
            <ion-checkbox></ion-checkbox>
            <ion-label>Aimara</ion-label>
          </div>
          <div class="check_label">
            <ion-checkbox></ion-checkbox>
            <ion-label>Japones</ion-label>
          </div>
          <div class="check_label">
            <ion-checkbox></ion-checkbox>
            <ion-label>Xyz</ion-label>
          </div>
          <div class="check_label">
            <ion-checkbox></ion-checkbox>
            <ion-label>Portugues</ion-label>
          </div>
          <div class="check_label">
            <ion-checkbox></ion-checkbox>
            <ion-label>Chino</ion-label>
          </div>
          <div class="check_label">
            <ion-checkbox></ion-checkbox>
            <ion-label>Otro</ion-label>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="card_acordion">
      <ion-card-header>
        <ion-card-subtitle>Rango de honorarios<ion-icon name="chevron-forward-outline" class="icon_rigth"></ion-icon></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="conten_none">
        
      </ion-card-content>
    </ion-card>
    <ion-card class="card_acordion">
      <ion-card-header>
        <ion-card-subtitle>Horarios de atención<ion-icon name="chevron-forward-outline" class="icon_rigth"></ion-icon></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="conten_none">
        
      </ion-card-content>
    </ion-card>
    <ion-card class="card_acordion">
      <ion-card-header>
        <ion-card-subtitle>Localización<ion-icon name="chevron-forward-outline" class="icon_rigth"></ion-icon></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="conten_none">
        
      </ion-card-content>
    </ion-card>
    <ion-card class="card_acordion">
      <ion-card-header>
        <ion-card-subtitle>Localización<ion-icon name="chevron-forward-outline" class="icon_rigth"></ion-icon></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="conten_none">
        
      </ion-card-content>
    </ion-card>
    <ion-button>Filtrar</ion-button>
  </ion-card>
</ion-content>
