<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Información personal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="col_flex">
        <ion-card>
        </ion-card>
        <div class="div_absolute">Subir foto <ion-icon name="chevron-forward-outline"></ion-icon></div>
      </ion-col>
      <ion-col size="11" size-md="9" size-lg="8">
        <ion-input placeholder="Nombres" class="input_genral"></ion-input>
      </ion-col>
      <ion-col size="11" size-md="9" size-lg="8">
        <ion-input placeholder="Apellidos" class="input_genral"></ion-input>
      </ion-col>
      <ion-col size="11" size-md="9" size-lg="8">
        <ion-input placeholder="Correo" class="input_genral"></ion-input>
      </ion-col>
      <ion-col size="11" size-md="9" size-lg="8" class="col_linea_plomo"></ion-col>
      <ion-col size="11" size-md="9" size-lg="8" style="position: relative;">
        <ion-input placeholder="Crea una contraseña" class="input_genral padding_right_input"></ion-input>
        <ion-icon name="help-circle" class="icono_interrogativo"></ion-icon>
      </ion-col>
      <ion-col size="11" size-md="9" size-lg="8" style="position: relative;">
        <ion-input placeholder="Repite la contraseña creada" class="input_genral padding_right_input"></ion-input>
        <ion-icon name="help-circle" class="icono_interrogativo"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button class="btn_enlace">Siguiente</ion-button>
</ion-content>
