<ion-header style="position: relative;">
  <ion-toolbar>
    <ion-card class="card_check">
      <p><ion-icon name="arrow-back-outline" class="icon_close"></ion-icon>Especialidad</p>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss" mode="ios">
        <ion-select-option value="brown">Lima</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </ion-card>
  </ion-toolbar>
  <ion-slides pager="false" [options]="slideOptsOne">
    <ion-slide>
      <ion-card>
        <p>Clinicas</p>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <p>Hospitales</p>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <p>Consultorios</p>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <p>Postas</p>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <p>Clinicas</p>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <p>Clinicas</p>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-header>

<ion-content>
  <p class="p_busqueda ion-text-end">Mostrando <span><strong>33 resultados</strong></span></p>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="10" size-md="8" size-lg="6">
        <ion-card class="card_establecimineto">
          <div class="div_img_p">
            <div class="div_img_circulo">
              <img src="assets/img/4c8c10535f7179adb49e2a4ae2c9fef2.png">
              <div class="div_circulo_verde">
                97%
              </div>
            </div>
            <p class="p_votos">36 votos</p>
            <p class="p_opciones">95 Opiniones</p>
          </div>
          <div class="div_img_pdiv_img_p">
            <div class="div_titulo_estrella">
              <ion-row>
                <ion-col size="8" class="ion-no-padding">
                  <p class="p_titulo">Clinica Buana salud</p>
                  <p class="p_direccion"><img src="assets/img/placeholder.png"> San Isidro, Lima</p>
                </ion-col>
                <ion-col size="4" class="ion-no-padding ion-text-end">
                  <p class="p_number_estrella"><img src="assets/img/star.png"> 4.2</p>
                </ion-col>
              </ion-row>
            </div>
            <div class="div_liena_azul">
              <p>Ginecología, Hematología, Hematología, medicina regenerativa, Hepatología, Infantil, Infecciones Andrología…</p>
            </div>
          </div>
          <ion-row class="ion-justify-content-center" style="width: 100%;">
            <ion-col size="6">
              <ion-button class="btn_salud">Reservar cita</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button class="btn_salud">Ver clinica</ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="10" size-md="8" size-lg="6">
        <ion-card class="card_establecimineto">
          <div class="div_img_p">
            <div class="div_img_circulo">
              <img src="assets/img/f06fe604b235f66922d430419e6dd2ae.png">
              <div class="div_circulo_verde">
                97%
              </div>
            </div>
            <p class="p_votos">36 votos</p>
            <p class="p_opciones">95 Opiniones</p>
          </div>
          <div class="div_img_pdiv_img_p">
            <div class="div_titulo_estrella">
              <ion-row>
                <ion-col size="8" class="ion-no-padding">
                  <p class="p_titulo">Clinica Buana salud</p>
                  <p class="p_direccion"><img src="assets/img/placeholder.png">San Isidro, Lima</p>
                </ion-col>
                <ion-col size="4" class="ion-no-padding ion-text-end">
                  <p class="p_number_estrella"><img src="assets/img/star.png"> 4.2</p>
                </ion-col>
              </ion-row>
            </div>
            <div class="div_liena_azul">
              <p>Ginecología, Hematología, Hematología, medicina regenerativa, Hepatología, Infantil, Infecciones Andrología…</p>
            </div>
          </div>
          <ion-row class="ion-justify-content-center" style="width: 100%;">
            <ion-col size="6">
              <ion-button class="btn_salud">Reservar cita</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button class="btn_salud">Ver clinica</ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="10" size-md="8" size-lg="6">
        <ion-card class="card_establecimineto">
          <div class="div_img_p">
            <div class="div_img_circulo">
              <img src="assets/img/84875af8407484722e304e113ed84b5e.png">
              <div class="div_circulo_verde">
                97%
              </div>
            </div>
            <p class="p_votos">36 votos</p>
            <p class="p_opciones">95 Opiniones</p>
          </div>
          <div class="div_img_pdiv_img_p">
            <div class="div_titulo_estrella">
              <ion-row>
                <ion-col size="8" class="ion-no-padding">
                  <p class="p_titulo">Clinica Buana salud</p>
                  <p class="p_direccion"><img src="assets/img/placeholder.png">San Isidro, Lima</p>
                </ion-col>
                <ion-col size="4" class="ion-no-padding ion-text-end">
                  <p class="p_number_estrella"><img src="assets/img/star.png"> 4.2</p>
                </ion-col>
              </ion-row>
            </div>
            <div class="div_liena_azul">
              <p>Ginecología, Hematología, Hematología, medicina regenerativa, Hepatología, Infantil, Infecciones Andrología…</p>
            </div>
          </div>
          <ion-row class="ion-justify-content-center" style="width: 100%;">
            <ion-col size="6">
              <ion-button class="btn_salud">Reservar cita</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button class="btn_salud">Ver clinica</ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="div_circulo_blanco">
    <ion-icon name="funnel-outline"></ion-icon>
  </div>
</ion-content>
