<ion-content>
  <ion-icon name="close-outline" class="icon_close"></ion-icon>
  <ion-card>
    <h4 class="ion-text-center">EMERGENCIA</h4>
    <p class="p_confirme ion-text-center">Confirme sus datos</p>
    <div class="div_p_editar">
      <p class="p_telefono">Tu numero de telefono es<br><span>+51 989767545</span></p>
      <p class="p_editar">Editar</p>
    </div>
    <div class="div_p_editar">
      <p class="p_telefono">Calle La Paz 1234, San Isidro,<br> Lima</p>
      <p class="p_editar">Editar</p>
      <img src="assets/img/4590781ec12ff6bdb0f06cef6a96764b.png">
    </div>
    <ion-button class="btn_deseo">Deseo que me llamen</ion-button>
    <ion-button class="btn_llamar">Default</ion-button>
  </ion-card>
</ion-content>
