<ion-header style="position: relative;">
  <ion-toolbar>
    <ion-card class="card_check">
      <p><ion-icon name="arrow-back-outline" class="icon_close"></ion-icon>Regresar</p>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss" mode="ios">
        <ion-select-option value="brown">Lima</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </ion-card>
  </ion-toolbar>
  <ion-slides pager="false" [options]="slideOptsOne">
    <ion-slide>
      <ion-card>
        <p>Clinicas</p>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <p>Hospitales</p>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <p>Consultorios</p>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <p>Postas</p>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <p>Clinicas</p>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <p>Clinicas</p>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center bajar_card col_padding_eft">
      <ion-col size="11" size-md="6">
        <ion-card class="card_list">
          <ion-avatar>
            <img src="assets/img/7d22daaa44d82e23ac2c17d846df0a85.png">
          </ion-avatar>
          <div class="div_descrip">
            <p class="p_titulo">Este es el titulo de una promoción</p>
            <p class="p_descrip">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, qui…</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="11" size-md="6">
        <ion-card class="card_list">
          <ion-avatar>
            <img src="assets/img/6d7f6ee469b45027822e6567c3dc618e.png">
          </ion-avatar>
          <div class="div_descrip">
            <p class="p_titulo">Este es el titulo de una promoción</p>
            <p class="p_descrip">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, qui…</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="11" size-md="6">
        <ion-card class="card_list">
          <ion-avatar>
            <img src="assets/img/281214ab81ec2472fca83e21e292de45.png">
          </ion-avatar>
          <div class="div_descrip">
            <p class="p_titulo">Este es el titulo de una promoción</p>
            <p class="p_descrip">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, qui…</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="11" size-md="6">
        <ion-card class="card_list">
          <ion-avatar>
            <img src="assets/img/7d22daaa44d82e23ac2c17d846df0a85.png">
          </ion-avatar>
          <div class="div_descrip">
            <p class="p_titulo">Este es el titulo de una promoción</p>
            <p class="p_descrip">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, qui…</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

