<ion-content [fullscreen]="true">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
     <ion-card>
      <img src="assets/img/f1.png">
      <ion-card-content>
        Busca doctores, clínicas y<br> otros profesionales de la<br> salud en tu zona
      </ion-card-content>
     </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/img/f2.png">
        <ion-card-content>
          Fija una cita con tu doctor<br> indicado para tus<br> necesidades
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/img/f3.png">
        <ion-card-content>
          Solo profesionales<br> habilitados y colegiados
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-sm="4" offset="3" offset-sm="4">
        <ion-button class="btn_siguinete">Siguinete</ion-button>
      </ion-col>
      <ion-col size="6" size-sm="4" offset="3" offset-sm="4" class="ion-padding-start ion-padding-end">
        <div class="div_plomo"></div>
      </ion-col>
      <ion-col size="12">
        <ion-button class="btn_saltar">Saltar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
