<ion-header style="position: relative;">
  <ion-toolbar>
    <ion-card class="card_check">
      <p><ion-icon name="arrow-back-outline" class="icon_close"></ion-icon>Oftalmologia</p>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss" mode="ios">
        <ion-select-option value="brown">Lima</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </ion-card>
  </ion-toolbar>
  <ion-slides pager="false" [options]="slideOptsOne">
    <ion-slide>
      <ion-card>
        <p>Clinicas</p>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <p>Hospitales</p>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <p>Consultorios</p>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <p>Postas</p>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <p>Clinicas</p>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <p>Clinicas</p>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-header>

<ion-content>
  <p class="p_busqueda ion-text-end">Mostrando <span>33 resultados</span></p>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="10" size-md="8" size-lg="6">
        <ion-card class="card_establecimineto">
          <div class="div_img_p">
            <div class="div_img_circulo">
              <img src="assets/img/c88185bc9da4e6f2397185cab7ff2039.png">
              <div class="div_circulo_verde">
                97%
              </div>
            </div>
            <p class="p_votos">36 votos</p>
            <p class="p_opciones">95 Opiniones</p>
          </div>
          <div class="div_img_pdiv_img_p">
            <div class="div_titulo_estrella">
              <ion-row>
                <ion-col size="8" class="ion-no-padding">
                  <p class="p_titulo">Peter Louis Sellers Lindley</p>
                </ion-col>
                <ion-col size="4" class="ion-no-padding ion-text-end">
                  <p class="p_number_estrella"><span>★</span>4.2</p>
                  <p class="p_ofta">Oftalmologa</p>
                </ion-col>
              </ion-row>
            </div>
            <div class="div_liena_azul">
              <p>MBBS,DOMS,MS - Ophthalmology</p>
              <p><span>11</span> años de experiencia</p>
              <p><ion-icon name="location-outline"></ion-icon>San Isidro, Lima</p>
            </div>
          </div>
          <ion-row class="ion-justify-content-center" style="width: 100%;">
            <ion-col size="6">
              <ion-button class="btn_salud">Ver información</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button class="btn_salud">
                <img src="assets/img/Grupo1716.png">
                Llamar</ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="10" size-md="8" size-lg="6">
        <ion-card class="card_establecimineto">
          <div class="div_img_p">
            <div class="div_img_circulo">
              <img src="assets/img/c88185bc9da4e6f2397185cab7ff2039.png">
              <div class="div_circulo_verde">
                97%
              </div>
            </div>
            <p class="p_votos">36 votos</p>
            <p class="p_opciones">95 Opiniones</p>
          </div>
          <div class="div_img_pdiv_img_p">
            <div class="div_titulo_estrella">
              <ion-row>
                <ion-col size="8" class="ion-no-padding">
                  <p class="p_titulo">Peter Louis Sellers Lindley</p>
                </ion-col>
                <ion-col size="4" class="ion-no-padding ion-text-end">
                  <p class="p_number_estrella"><span>★</span>4.2</p>
                  <p class="p_ofta">Oftalmologa</p>
                </ion-col>
              </ion-row>
            </div>
            <div class="div_liena_azul">
              <p>MBBS,DOMS,MS - Ophthalmology</p>
              <p><span>11</span> años de experiencia</p>
              <p><ion-icon name="location-outline"></ion-icon>San Isidro, Lima</p>
            </div>
          </div>
          <ion-row class="ion-justify-content-center" style="width: 100%;">
            <ion-col size="6">
              <ion-button class="btn_salud">Ver información</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button class="btn_salud">
                <img src="assets/img/Grupo1716.png">
                Llamar</ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="10" size-md="8" size-lg="6">
        <ion-card class="card_establecimineto">
          <div class="div_img_p">
            <div class="div_img_circulo">
              <img src="assets/img/c88185bc9da4e6f2397185cab7ff2039.png">
              <div class="div_circulo_verde">
                97%
              </div>
            </div>
            <p class="p_votos">36 votos</p>
            <p class="p_opciones">95 Opiniones</p>
          </div>
          <div class="div_img_pdiv_img_p">
            <div class="div_titulo_estrella">
              <ion-row>
                <ion-col size="8" class="ion-no-padding">
                  <p class="p_titulo">Peter Louis Sellers Lindley</p>
                </ion-col>
                <ion-col size="4" class="ion-no-padding ion-text-end">
                  <p class="p_number_estrella"><span>★</span>4.2</p>
                  <p class="p_ofta">Oftalmologa</p>
                </ion-col>
              </ion-row>
            </div>
            <div class="div_liena_azul">
              <p>MBBS,DOMS,MS - Ophthalmology</p>
              <p><span>11</span> años de experiencia</p>
              <p><ion-icon name="location-outline"></ion-icon>San Isidro, Lima</p>
            </div>
          </div>
          <ion-row class="ion-justify-content-center" style="width: 100%;">
            <ion-col size="6">
              <ion-button class="btn_salud">Ver información</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button class="btn_salud">
                <img src="assets/img/Grupo1716.png">
                Llamar</ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

