<ion-header>
  <ion-toolbar>
    <ion-card class="card_check">
      <p><ion-icon name="close-outline" class="icon_close"></ion-icon>Especialidad</p>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss" mode="ios">
        <ion-select-option value="brown">Lima</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </ion-card>
  </ion-toolbar>
  <ion-card class="card_buscador">
    <ion-searchbar placeholder="Filter Schedules"></ion-searchbar>
  </ion-card>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="11" size-sm="4" size-md="3">
        <div class="div_check_iguales">
          <div class="div_igaules_check">
            <ion-checkbox></ion-checkbox>
            <ion-label>Gastroenterologo</ion-label>
          </div>
          <div class="div_igaules_check">
            <ion-checkbox></ion-checkbox>
            <ion-label>Ingles</ion-label>
          </div>
        </div>
        <div class="div_check_iguales">
          <div class="div_igaules_check">
            <ion-checkbox></ion-checkbox>
            <ion-label>S/. 50 - S/. 100</ion-label>
          </div>
          <div class="div_igaules_check">
            <ion-checkbox></ion-checkbox>
            <ion-label>Otra cosa</ion-label>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="card_mapa">
    <p>Oftalmologs en tu zona</p>
    <img src="assets/img/4590781ec12ff6bdb0f06cef6a96764b.png">
    <p class="ion-text-end">Ver lista ></p>
  </ion-card>
</ion-content>

